<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>성신여자대학교 Question Lounge</title>
        <link rel="stylesheet" href="css/style_index.css" />
    </head>
    <body>
        <div class="main_container">
            <div class="main_title">
               <div class="sql_logo_image">
                  <a href="/">
                      <img src="images/sql_logo.png">
                  </a>
               </div>
            </div>
            <div class="main_control_center">
                <a href="/login"><div class="main_menu main_logout">로그아웃</div></a>
                <a href="#"><div class="main_menu main_scrap">스크랩</div></a>
                <a href="#"><div class="main_menu main_myinfo">내 정보</div></a>
            </div>
            <div class="main_index">
               <div class="main_index_block">
                   수강과목
                   <div class="main_class">
                       여기에 강의 관련 내용이 들어갑니다.
                   </div>
               </div>
            </div>
            <div class="main_index">
               <div class="main_index_block">
                   공지사항
                   <div class="main_class">
                       공지사항이 없습니다.
                   </div>
               </div>
            </div>
            <div class="main_index main_index_last">
               <div class="main_index_block">
                   바로가기
                   <div class="main_class">
                       바로가기 내용을 추가하는 공간입니다! <br/> 예를 들면 성신여대 홈페이지, 교수학습지원센터 등... 
                   </div>
               </div>
            </div>
            <div>
                <a href="#" style="text-decoration: none"><div class="main_top">▲<br/>TOP</div></a>
            </div>            
        </div>
    </body>
</html>