<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>성신여자대학교 SQL</title>
  </head>
  <body>
    <div id="wrap">
      <div id="headerWrap">
        <div id="browser_header_logo">
          <a href="main.html">
            <img src="image/SQL_mainlogo.png" alt="성신여자대학교 SQL">
          </a>
        </div>
        <div class="user_menu">
          <div class="login">
            <div class="user_photo">
              <img src="image/user.png" alt="">
            </div>
            <div class="welcome_menu">
              <!--회원가입 연동??일단 내 학번..-->
              <strong>20190969</strong>
              <!--로그아웃 클릭시 로그인 페이지로-->
              <a href="loginPage.html">
                <div class="header_logout">로그아웃</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="containerWrap">
        <div id="container">
          <div id="cotentsIndex">
            <div class="index_area">
              <div class="contents_box">
                <div class="title">
                    <span>수강과목</span>
                </div>
                <ol>
                  <li class="term_info">1학기</li>
                  <!--가나다 정렬하기 & 클릭시 채팅방으로 이동-->
                  <li>
                    <em class="class_name" onclick="" title="서버시스템구축과실습 채팅 들어가기">서버시스템구축실습</em>
                  </li>
                  <li>
                    <em class="class_name" onclick="" title="시스템프로그래밍 채팅 들어가기">시스템프로그래밍</em>
                  </li>
                  <li>
                    <em class="class_name" onclick="" title="소프트웨어분석및설계 채팅 들어가기">소프트웨어분석및설계</em>
                  </li>
                  <li>
                    <em class="class_name" onclick="" title="기계학습 채팅 들어가기">기계학습</em>
                  </li>
                  <li>
                    <em class="class_name" onclick="" title="알고리즘 채팅 들어가기">알고리즘</em>
                  </li>
                  <li>
                    <em class="class_name" onclick="" title="자료구조 채팅 들어가기">자료구조</em>
                  </li>
                </ol>
              </div>
              <div class="contents_box">
                <div id="siteLink">
                  <div id class="outSiteLink">
                    <div id class="inSiteLink_border">
                      <ul>
                        <li>
                          <a href="https://www.sungshin.ac.kr/sites/main_kor/main.jsp">
                          <img src="image/sungshin.png"></a>
                        </li>
                        <li>
                          <a href="https://lib.sungshin.ac.kr/">
                          <img src="image/library.png"></a>
                        </li>
                        <li>
                          <a href="http://www.kcucon.or.kr/">
                          <img src="image/kcucon.png"></a>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <a href="https://portal.sungshin.ac.kr/">
                          <img src="image/portal.png"></a>
                        </li>
                        <li>
                          <a href="https://www.sungshin.ac.kr/sites/ctl/index.do">
                          <img src="image/prof.png"></a>
                        </li>
                        <li>
                          <a href="http://www.kmooc.kr/">
                          <img src="image/kmooc.png"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="footerWrap">

      </div>
    </div>
  </body>
</html>
